header {
  margin-top:46px; text-align: center;
  }

nav {
  position: fixed; top: 0; left: 0; width: 100%; background-color: rgba(245,218,223);
  }

nav ul {
      margin: 0 0 0 8px;
      padding-left: 0;
      list-style: none;
        }

nav li {
    display: inline-block;
    margin-right: 30px;
    padding: 10px 0;
        }

  body {
      font-family: "Merriweather", "Times new roman","Calibri"; serif; color: rgb(0,0,0);
      font-size: 14px;
          }

  h1 {
    text-align: center; border: 2px dashed rgba(245,218,223); margin-left: 400px; margin-right: 400px;
          }

  .main     {
  display: grid; grid-template-columns: 450px 450px;
  grid-gap: 2px; max-width:950px; margin: auto;
                  }

#summary {
  grid-column: 1 / span 2;;
        }

#intro {
    display: block; text-align: left; max-width: 400px; border: 2px solid rgba(245,218,223);
    padding-left: 16px; margin: 5px;
        }
#favorites {
    display: block; text-align: left; border: 2px solid rgba(245,218,223);
    padding-left: 35px;
        }

#fashion, #food, #architecture, #arts  {
  display: grid; grid-template-columns: 450px 450px;
  grid-gap: 2px; max-width:950px; margin: auto; text-align: left; padding-top: 5px;
        }

#pone, #ptwo, #pthree {
  display: block;
    }

  a:link {
    color: rgb(51,102,204)
              }

  a:visited {
    color: rgb(121,92,178)
              }
