body {
  font-family: "Georgia", "Calibri", serif; color: rgb(0,0,128);
  font-size: 18px; font-family: serif; font-style: normal;
  line-height: normal; background-color: rgba(69,105,159,0.15);
}



#introduction, #geography, #economy, #government {
  border: 1px dashed rgb(69,105,159);
  }

h1 {
font-size: 40px
  }

h2 {
font-size: 28px
  }

h3  {
  font-size: 21px
    }

p, table, ul {
  font-size: 17px
    }
